@import url('fonts.css');

.backButton {
    display: block;
    z-index: 100;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    position: relative;
    align-items: center;
    overflow: hidden;

    background-image: url("../img/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;

}

.envelope {
    position: absolute;
    width: 7vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .85;
    z-index: 2;
}

.bag {
    position: absolute;
    display: flex;
    height: 40%;
    /*width: 20%;*/
    top: 60vh;
    /*overflow: hidden;*/

}
.bag img {
    z-index: 2;
    height: 100%;
    object-fit: contain;

}

.envelope img {
    height: 100%;
}

.wish-container {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.wish {
    position: absolute;
    /*background-color: rgba(255, 136, 0, 0.95);*/
    background-image: url("../img/wish_envelope.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

.wish-message {
    font-family: 'Neucha', sans-serif;
    position: absolute;
    top: 42%;
    left: 25%;
    width: 60%;
    height: 50%;
    font-size: .7rem;
    color: blue;
}